# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# CocoaPods
Pods/
*.xcworkspace/xcuserdata/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Secrets
*.env
GoogleService-Info.plist


